<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helpdesk.i2i.com.ifazidesk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLAG_GRANT_WRITE_URI_PERMISSION" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scan.Scan"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScanScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IssueDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IssueList"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.IssueDept" />
        </activity>
        <activity
            android:name=".activities.IssueSubmit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Finish"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardNew" />
        </activity>
        <activity
            android:name=".activities.IssueDept"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardNew" />
        </activity>
        <activity
            android:name=".activities.IssueLocation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.IssueList" />
        </activity>
        <activity
            android:name=".activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DashboardNew"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TicketDetails"
            android:label="@string/title_activity_ticket_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PreDashboard" />

            <intent-filter>
                <action android:name="TicketDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TicketDetails_User"
            android:label="@string/title_activity_ticket_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PreDashboard" />

            <intent-filter>
                <action android:name="TicketDetails_User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PreDashboard" />
        </activity>

        <service android:name=".notificationservice.InstanceIDService">
            <intent-filter>
                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT"
                    android:enabled="true"
                    android:exported="true" />
            </intent-filter>
        </service>
        <service android:name=".notificationservice.NotificationService">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT"
                    android:enabled="true"
                    android:exported="true" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SelectLocation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardNew" />
        </activity>
        <activity android:name=".activities.PreDashboard"
             android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.NewDashboard"
            android:label="@string/title_newdashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PreDashboard" />

        </activity>
    </application>

</manifest>